<title>PT-BLOCK</title>
<div class="container color-dark">
  <div class="col"><p>NOME DO JOGO</p></div>
</div>
<div class="container color-light">
  <div class="col">
    <p>Bem vindo!</p>
    <p>O proposito desse jogo é ensinar os diversos conceitos de lógica de programação, por meio de diversos desafios!</p>
    <p>Assim como diversos jogos de 'eduntainment', buscamos combinar ensino com entretenimento aqui.</p>
    <p>Lembrando que essa e as páginas a seguir são apenas protótipos, logo são sujeitas a grandes mudanças (senão um overhaul completo) durante o desenvolvimento.</p>
    <nav>
      <input type="submit" class="btn0" routerLink="/level1" value="Vamos a obra!">
    </nav>
  </div>
